
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 10%;
    height: 100vh;
    background-color: black;
    
}

.border {
    border-style:solid;
    border-top: 0;
    border-bottom: 0;
    border-width: 10px;
    border-image: conic-gradient(rgb(58, 176, 29), yellow, lime, aqua, blue, magenta, red) 1;
}


.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  
    min-height: 30px;
    
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.super {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
   min-height: 300px;
   max-height: max-content;

}

.sub {
    background-color: rgba(87, 99, 241, 0.654);
    color: white;
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  

}

.buffer {
    color: rgb(81, 57, 235);
    display: flex;    
   justify-content: center;
   align-items: center;
}

.two .sub, .four .sub{
    flex-direction: row-reverse;
}
.footer {
    display: flex;
    border: 10px;
    color: white;
    background-color: #1f2937;
 
    min-height: 30px;
    margin-top: 20px;
    align-items:center;
    flex-direction: column;

}

.service {
    display: flex;
    color: lightskyblue;
}

ul {
    list-style-type: none;
    
    
}