body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 15%;
    height: 100vh;
    background-color: #1f2937;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    flex-direction: row-reverse;
}

.super {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    

}

.sub{
    background-color: white;
    display: flex;
    justify-content: space-between;
   
}
.buffer {
    background-color: pink;
    display: flex;
    flex-grow: 1;
   justify-content: center;
   align-items: center;
}
.footer {
    text-align: center;
    border: 10px;
    color: white;
    background-color: #1f2937;

}